body {
    font-family: Arial, sans-serif;
    line-height: 2.5;
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

.card img {
    height: 450px;
    object-fit: cover;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 50px;
}